{% load static %}
<html lang="RU">
<head>
    <link rel="stylesheet" href="{% static 'resume/base.css' %}">
    {% block styles %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Junior python web developer{% endblock %}</title>
</head>
<body class="main">
<div class="menu-button"></div>
<div class="menu">
    <div class="menu-top">
        <a class="logo" href="{% url 'resume:index' %}">
            <img class="logo__img" src="{% static 'resume/images/D.svg' %}">
            <span class="logo__text">Дмитрий</span>
        </a>
        <span class="menu-top__text">Web Developer</span>
    </div>
    <nav class="menu-nav">
        <a class="menu-nav__item" href="{% url 'resume:about' %}">Обо мне</a>
        <a class="menu-nav__item" href="{% url 'resume:skills' %}">Мои навыки</a>
        <a class="menu-nav__item" href="{% url 'resume:works' %}">Мои работы</a>
        <a class="menu-nav__item" href="{% url 'resume:contact' %}">Контакты</a>
    </nav>
</div>
<div class="content">
<span class="tag tag-top">&lt;html&gt;</span>
    {% block content %}{% endblock %}
<span class="tag tag-bottom">&lt;/html&gt;</span>
</div>
<script src="{% static 'resume/js/menuButton.js' %}" type="text/javascript"></script>
{% block scripts %}{% endblock %}
</body>
</html>