@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main{
    font-family: "Open Sans";
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #e6e6e6;
    padding: 10px;
    box-shadow: 1px 1px 10px #e6e6e6;
}
.form label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}
input,
textarea,
select{
    padding: 7px;
    font-size: 14px;
}
.form__row{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    position: relative;
}
.category{
    width: 100%;
}
.form__row:nth-child(11){
    flex-direction: row;
}
.form__row-help{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: white;
    box-shadow: 1px 5px 15px #888888;
    font-size: 14px;
    z-index: 1;
}
.form__row-help-item{
    padding: 8px;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
    transition: background-color .2s;
}
.form__row-help-item:hover{
    background-color: #e6e6e6;
}
#id_type_ad{
    display: flex;
    justify-content: space-between;
    padding: 5px 0 0 0;
}
#id_type_ad label{
    cursor: pointer;
    padding: 5px 7px;
    border: 1px solid #a3a3a3;
    border-radius: 6px;
    color: #3f3f3f;
    font-weight: normal;
    box-sizing: border-box;
    transition: all .3s;
}
#id_type_ad label:hover{
    color: #202020;
    border-color: #202020;
}
#id_type_ad input{
    display: none;
}
#id_type_ad .label_active{
    color: white;
    border-color: #4a4a4a;
    background-color: #4a4a4a;
}
#id_type_ad .label_active:hover{
    color: white;
    border-color: #4a4a4a;
}
textarea{
    min-width: 10px;
    width: 100%;
    box-sizing: border-box;
}
#id_photo{
    display: none;
}
label[for='id_photo']{
    text-align: center;
    padding:  40px 0;
    border: 1px dashed #1a578c;
    border-radius: 10px;
    background-color: rgba(26, 87, 140, .05);
    cursor: pointer;
    transition: all .3s;
}
label[for='id_photo']:hover{
    background-color: rgba(26, 87, 140, .10);
}
.form__button{
    background-color: #68b300;
    cursor: pointer;
    transition: all .3s;
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 4px;
}
.form__button:hover{
    background-color: #5a9a00;
}
@media only screen and (max-width: 400px){
    #id_type_ad{
        flex-direction: column;
    }
    #id_type_ad label{
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}