{% extends 'flea_market/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'flea_market/index.css' %}">
{% endblock %}
{% block content %}
<div class="cells">
{% for category in six_categories %}
<a class="cells__cell" href="">
<img src="{% static 'flea_market/images/cat' %}{{ forloop.counter }}.jpg" class="cells__cell-img">
    <div class="cells__cell-info">
        <h3 class="cells__cell-title">{{ category.title }}</h3>
        <p class="cells__cell-count">15 объявлений</p>
    </div>
</a>
{% endfor %}
</div>
{% endblock %}