{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'flea_market/profile.css' %}">
    <title>Смена пароля</title>
</head>
<body class="main">
<div class="main-content">
    <header class="menu">
        <a class="menu__link" href="{% url 'flea_market:index' %}">Главная</a>
        <a class="menu__link menu__link_right" href="{% url 'flea_market:profile' %}">Профиль</a>
    </header>
    <form class="form" name="change-password" method="post" action="{% url 'flea_market:password_change' %}" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 class="form__title">Смена пароля</h3>
        <label for="{{ form.old_password.id_for_label }}">Старый пароль</label>
        {{ form.old_password }}
        <label for="{{ form.new_password1.id_for_label }}">Новый пароль</label>
        {{ form.new_password1 }}
        <label for="{{ form.new_password2.id_for_label }}">Новый пароль снова</label>
        {{ form.new_password2 }}
        {{ form.errors }}
        <input class="form__button" type="submit" value="Изменить пароль">
    </form>
</div>
</body>
</html>