{% for item in search_list %}
<a class="menu-head__search-item" href="{% url 'flea_market:product' item.id %}">
    <div class="menu-head__search-image-wrap">
        <span class="menu-head__search-item-type menu-head__search-item-type_{{ item.type_ad }}"></span>
        {% if item.image_set.all %}
            <img src="{{ item.image_set.first.photo.url }}" class="menu-head__search-item-image">
        {% else %}
            <div class="menu-head__search-item-image menu-head__search-item-image_no-image"></div>
        {% endif %}
    </div>
    <div class="menu-head__search-item-details">
        <h4 class="menu-head__search-item-title">{{ item.title }}</h4>
        <p class="menu-head__search-item-description">{{ item.short_description }}</p>
    </div>
    <div class="menu-head__search-item-price">
        <div class="menu-head__search-item-price-value">{{ item.price }} р.</div>
        {% if item.bargain %}
            <span class="menu-head__search-item-price-bargain">Торг</span>
        {% endif %}
    </div>
</a>
{% endfor %}